.about-us{
    display: flex;
    background-color: lightgray;
}

.about-us-box{
    display: flex;
}

.about-us-content{
    width: 300px;
    height: 300px;
}

.about-us-content img{
    width: 300px;
    height: 200px;
    margin-left: 450px;
    margin-top: 50px;
}

.about-us-title {
    justify-content: center;
    margin-top: 80px;
    margin-left: 150px;
}

.about-us-text{
    font-size: 17px;
    font-weight: 300;
    line-height: 26px;
    color: black;
    padding-left: 100px;
}